*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


html, body{
  height: 100%;
  background-color: #f1f1f1;
}

#englobe{
  min-height: 100%;
  /* position: relative; */
}


.bloc, .bloc1, .bloc2 {
  width: 300px;
  height: 50px;
  background-color: #d0a91f;
  margin: 10px 30px;
  border: 2px solid rgba(100, 100, 100, 0.34);
  border-radius: 7px;
  text-align: center;
  line-height: 20px;
}

.bloc a p, .bloc1 a, .bloc2 a {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 40px;
}

.bloc a:hover,
.bloc1 a:hover,
.bloc2 a:hover {
  background-color: #000000;
  color: #d0a91f;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.34);
}

 .navBar {
  width: 100%;
  height: 90px;
  background: linear-gradient(#ffffff57, #00000057);
} 


.navBar ul li {
  float: left;
  list-style: none;
  margin: 10px 0px;
}


.navBar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

.active {
  color: black;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 25px;
  line-height: 25px;
  text-shadow: 0px 5px 4px #eaeaea;
}

.nav-item {

  position: relative;
  right: 100px;

}

.dropbtn {
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d0a91f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #d0a91f;
  border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d0a91f;
  border-radius: 999px;
}


#header {
  line-height: 60px;
  background-color: white;

  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin: 20px 20px 20px 20px;

  color: #d0a91f;

  text-shadow: 0px 10px 30px #d0a91f, 0px 4px 4px rgba(0, 0, 0, 0.25);
  float: left;
  padding: 5px;

  animation-duration: 1.5s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}


#time{
  animation-duration: 1.5s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: bold;
  color: #d0a91f;
  text-shadow: 0px 10px 30px #d0a91f, 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header1 {
  width: auto;
  padding-top: 70px;
  height: 50px;
  position: absolute;

  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;

  line-height: 40px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 8px 15px #7b7b7b;
}

.container {
  margin: 10px auto;
  width: 100%;
  top: 40px;
  background-color: #f1f1f1;
  height: 300px;
  position: relative;
  /* border: 5px solid #d0a91f; */
  border-top: 4px solid #000000;
  border-bottom: 2px solid #000000;
  border-left: 80px solid #d0a91f;
  border-right: 80px solid #d0a91f;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 5px 10px rgb(68, 68, 68);
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 40%;
  margin: 0px 0px 0 0;
}

.slide img {
  width: 70%;
  height: 100%;
  margin: 0px 0px 0 0;
  overflow: hidden;
}

.slide img:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* .slide-controls {
  position: absolute;
  top: 0%;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
} */

#next-btn,
#prev-btn {
  cursor: pointer;
  border: none;
  cursor: pointer;
  outline: inherit;
  overflow: hidden;
}

#next-btn img {
  width: 100px;
  height: 100px;
}

#next-btn {
  position: absolute;
  left: 95.5%;
  top: 100px;
}

#prev-btn img {
  /* box-shadow: 2px 1px 4px rgb(209, 207, 207); */
  transform: rotate(180deg);
  width: 100px;
  height: 100px;
}

#next-btn:hover,
#prev-btn:hover {
  background-color: whitesmoke;
  color: black;
  border: 2px solid white;
}

.description{
  text-align: center;
  color: #000000;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  line-height: 35px;
}

.idBonjour a{
  color: #7a0418;
  font-size: 20px;

}
.idBonjour a span{
  color: #7a0418;
  font-size: 20px;
}

     /* footer */

     footer{
      border-top: 1px solid black;
      position: absolute;
      height: 40px;
      width: 100%;
      background-color: #d0a91f;
      bottom: 0px;
      position: fixed;
    }
    
    .contenu{
      text-align: center;
      line-height: 40px;
    }