body{
  background: #0c0c0c;
  font-family: 'Mulish', sans-serif;

}
#container{
  width:400px;
  margin:0 auto;
  margin-top:10%;
  opacity: 1;
}
/* Bordered form */
form {
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: rgba(100, 100, 100, 0.34);
  box-shadow: 0 0 20px 0  rgba(100, 100, 100, 0.34), 0 5px 5px 0  rgba(100, 100, 100, 0.34);
}
#container h1{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  color:#D0A91F;
  font-family: Rubik Mono One;
  text-align: center; 
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;

}

/* Set a style for all buttons */
input[type=submit] {
  background-color: #0c0c0c;
  color: #D0A91F;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
input[type=submit]:hover {
  background-color: white;
  color: #D0A91F;
  border: 1px solid #D0A91F;
  padding: 13px 20px;

}