*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Mulish', sans-serif;

}

html,
body {
  height: 100%;
  background-color: #f1f1f1;
  font-family: 'Mulish', sans-serif;

}

#englobe {
  min-height: 100%;
  /* position: relative; */
}

.bloc,
.bloc1,
.bloc2 {
  width: 300px;
  height: 50px;
  background-color: #d0a91f;
  margin: 10px 30px;
  border: 2px solid rgba(100, 100, 100, 0.34);
  border-radius: 7px;
  text-align: center;
  line-height: 20px;
}

.bloc a p,
.bloc1 a,
.bloc2 a {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 40px;
}

.bloc a:hover,
.bloc1 a:hover,
.bloc2 a:hover {
  background-color: #000000;
  color: #d0a91f;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.34);
}

.navBar {
  width: 100%;
  height: 90px;
  background: linear-gradient(#ffffff57, #00000057);
}

.navBar ul li {
  float: left;
  list-style: none;
  margin: 10px 0px;
}

.navBar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  color: black;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 25px;
  line-height: 25px;
  text-shadow: 0px 5px 4px #eaeaea;
}

.nav-item {
  position: relative;
  right: 100px;
}

.dropbtn {
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d0a91f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #d0a91f;
  border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d0a91f;
  border-radius: 999px;
}

/* contenu */

.vendeur-suppr {
  width: 800px;
  height: 100px;
  border: 3px solid #d0a91f;
  border-radius: 5px;
  padding: 5px;
  background-color: #000000;
  color: #d0a91f;
  line-height: 95px;
  font-size: 30px;
  text-align: center;
  margin: 10px auto;
}

.multi-selectbox {
  margin: 10px auto;
  background-color: #02020a;
  border-radius: 10px;
  width: 500px;
}

.selectbox-scrollable {
  border: 3px solid #d0a91f;
  border-radius: 5px;
  padding: 5px;
  background-color: #02020a;
  width: 400px;
  text-align: center;
  color: #eaeaea;
  margin: 20px 50px;
}

.button {
  width: 200px;
  margin: 10px auto;
}
.cv {
  color: red;
  font-size: 17px;
  font-weight: 900;
}
.supprimer {
  background-color: black;
  color: #d0a91f;
  padding: 14px 20px;
  /* margin: 8px 860px; */
  border: none;
  cursor: pointer;
  width: 200px;
  border-radius: 20px;

  text-align: center;
}
.supprimer:hover {
  background-color: white;
  color: #d0a91f;
  border: 1px solid #d0a91f;
}

.answer {
  color: #000000;
  text-align: center;
  border: 2px solid #d0a91f;
  width: 250px;
  margin: 0px auto;
}

/* Fin contenu */

/* footer */

footer {
  border-top: 1px solid black;
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #d0a91f;
  bottom: 0px;
  position: fixed;
}

.contenu {
  text-align: center;
  line-height: 40px;
}


.idBonjour a{
  color: #7a0418;
  font-size: 20px;

}
.idBonjour a span{
  color: #7a0418;
  font-size: 20px;
}