*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;

}
 
 body{
    background:white;
  font-family: 'Mulish', sans-serif;

}
#container{
    width: 50%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 80px auto;

}
/* Bordered form */
form {
    width:100%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: rgba(100, 100, 100, 0.34);
   
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    color:#D0A91F;
    font-family: Rubik Mono One;
    
}
header{
 background-color: rgba(100, 100, 100, 0.34);
 color: #D0A91F;
 text-align: center;
 padding: 5px;
 }
 #nav {
 line-height: 30px;

 height: 500px;
 /* Vous pouvez remplacer la valeur fixed (150px) par une valeur relative (en pourcentage, par exemple) */
 width: 48%;
 /* La propriété float rend tout le bloc flottant à gauche, créant une colonne */
 float: left;
 padding: 5px;
 text-align: left;
 
 
 


 
}
 li{
 /* Ce style efface le bouton noir et met une espace de 35px entre deux elements de la liste */
 list-style: none;
 margin: 35px 0;
}
 #section {
 line-height: 30px;
 
 height: 500px;
 /* Vous pouvez remplacer la valeur fixed (150px) par une valeur relative (en pourcentage, par exemple) */
 width: 49.17%;
 /* La propriété float rend tout le bloc flottant à gauche, créant une colonne */
 float: right;
 padding: 5px;
 text-align: left;
 
 
 
}
 li{
 /* Ce style efface le bouton noir et met une espace de 35px entre deux elements de la liste */
 list-style: none;
 margin: 35px 0;
 }

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: black;
    color: #D0A91F;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}