*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;

}

html, body{
  height: 100%;
  font-family: 'Mulish', sans-serif;
}

#englobe{
  min-height: 150%;
  position: relative;
  /* border: 5px solid red; */
}

/* debut nav bar */


.bloc, .bloc1, .bloc2 {
  width: 300px;
  height: 50px;
  background-color: #d0a91f;
  margin: 10px 30px;
  border: 2px solid rgba(100, 100, 100, 0.34);
  border-radius: 7px;
  text-align: center;
  line-height: 20px;
}

.bloc a p, .bloc1 a, .bloc2 a {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 40px;
}


.bloc a:hover,
.bloc1 a:hover,
.bloc2 a:hover {
  background-color: #000000;
  color: #d0a91f;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.34);
}

 .navBar {
  width: 100%;
  height: 90px;
  background: linear-gradient(#ffffff57, #00000057);
} 


li {
  float: left;
  list-style: none;
  margin: 10px 0px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  color: black;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 25px;
  line-height: 25px;
  text-shadow: 0px 5px 4px #eaeaea;
}

.dropbtn {
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d0a91f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #d0a91f;
  border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d0a91f;
  border-radius: 999px;
}


  .cad {
    color: white;
    border: none;
    cursor: pointer;
    background: none;
    margin-right: 10px;
    }

    .idBonjour a{
      color: #7a0418;
      font-size: 20px;
    
    }
    .idBonjour a span{
      color: #7a0418;
      font-size: 20px;
    }


    /* message */

    .bloc-msg:nth-child(odd){
      border: 1px solid black;
      border-radius: 3px;
      background-color: #d0a91f;
    }
    b:nth-child(odd){
      color: rgb(116, 38, 38);
      font-size: 18px;
    }
    .bloc-msg:nth-child(even){
      border: 1px solid black;
      border-radius: 3px;
      background-color: rgb(165, 165, 165);
    }
    
    .bloc-msg{
    
      width: 200px;
      height: auto;
      margin: 10px 10px;
    }
    
    .all-messages{
      margin: 30px auto;
      width: 250px;
      height: auto;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
    
    }
    
    #message{
    
      font-size: 18px;
      color: #0e0c36;
      margin: 0 0 0 5px;
      font-weight: bold;
    
    }
    
    /* fin message */
    
    /* envoie message */
    
    .zone-txt{
    
        border: 2px solid #d0a91f;
        border-radius: 10px;
        right: 350px;
        top: 50px;
        margin: 20px 15px;
    }
    
    .select-bar{
      position: relative;
      width: auto;
      left: 190px;
      text-align: center;
      color: #d0a91f;
      font-size: 20px;
    }
    
    .envoie-msg {
      background-color: black;
      border-radius: 5px;
      color: #D0A91F;
      padding: 14px 20px;
      margin: -40px 190px;
      border: none;
      cursor: pointer;
      width: 100px;
    }
    .envoie-msg:hover {
      background-color: white;
      color: #D0A91F;
      border: 1px solid #D0A91F;
    }
    
    .error-msg{
      position: relative;
      width: auto;
      top: 60px;
      /* left: 50px; */
      border: 1px solid #d0a91f;
      text-align: center;
    }
    
    .all{
      border: 2px solid #d0a91f;
      border-radius: 10px;
      width: 25%;
      margin: 20px 30px;
    }
    
    .titre-bar{
      position: relative;
      width: auto;
      left: 190px;
      text-align: center;
      color: #d0a91f;
      font-size: 20px;
    }
    
    /* fin envoie message */


    /* footer */

footer{

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #d0a91f;
  bottom: 0px;
  /* position: fixed; */
}

.contenu{
  justify-content: center;
  text-align: center;
  line-height: 40px;
}


/* fin footer */