*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

body {
  font-family: 'Mulish', sans-serif;
}

.bloc, .bloc1, .bloc2 {
    width: 300px;
    height: 50px;
    background-color: #d0a91f;
    margin: 10px 30px;
    border: 2px solid rgba(100, 100, 100, 0.34);
    border-radius: 7px;
    text-align: center;
    line-height: 20px;
  }
  
  .bloc a p, .bloc1 a, .bloc2 a {
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: 999;
    font-size: 40px;
  }
  
  .bloc a:hover,
  .bloc1 a:hover,
  .bloc2 a:hover {
    background-color: #000000;
    color: #d0a91f;
    border-radius: 7px;
    border: 2px solid rgba(100, 100, 100, 0.34);
  }
  
   .navBar {
    width: 100%;
    height: 90px;
    background: linear-gradient(#ffffff57, #00000057);
  } 
  
  
  li {
    float: left;
    list-style: none;
    margin: 10px 0px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    color: black;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: 999;
    font-size: 25px;
    line-height: 25px;
    text-shadow: 0px 5px 4px #eaeaea;
  }
  
  .dropbtn {
    background: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d0a91f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #d0a91f;
    border-bottom: 1px solid black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #d0a91f;
    border-radius: 999px;
  }
  
  
    .cad {
      color: white;
      border: none;
      cursor: pointer;
      background: none;
      margin-right: 10px;
      }

h3 {
  text-align: center;
  
}

.grille {
  max-width: 1600px;
  width: 90%;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  grid-gap: 50px;
}

.grid-item{
  width: 400px;
  height: 250px;
  background: #333;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
  border-radius: 20px;

}

.grid-item:hover{
  transform: scale(1.2);
  /* animation: loaderAnim 0.3s; */
}
@keyframes loaderAnim {
  to {
    transform: scale(1.2) rotate(1440deg);
  }
}


.photo {
  height: 190px;
  width: auto;
  background-color: #f1f1f1;
  align-content: end;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.photo img {
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.description {
  
  height: 60px;
  width: auto;
  background-color: #d0a91f;
  align-content: end;
  text-align: center;
  line-height: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 2px solid black;
}

.Prix {
  border-right: 1px solid grey;
  float: left;
  width: 33.3%;
  height: 58px;
  /* font-weight: bold; */
}

.Nom {
  border-right: 1px solid grey;
  float: left;
  width: 33.3%;
  height: 58px;
  /* font-weight: bold; */
}

.Type {
  float: left;
  width: 33.3%;
  height: 58px;
  /* font-weight: bold; */
}

.modal-container {
  box-shadow: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  pointer-events: auto;
  opacity:1;
}

.unShowPanier{
  pointer-events: auto;
  opacity:0;
}

#ajouterPanier {
  pointer-events: auto;
}

.modal {
  border-radius: 15px;
  padding: 30px 50px;
  background-color: #fff;
  width: 600px;
  max-width: 100%;;
  text-align: center;
}

.modal button {
  background-color: #d0a91f;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 10px 20px;
  margin: 20px;;
}

.modal #acheter {
  padding: 20px 40px;
  font-size: 20Px;
} 

.titre{
  text-align: center;
}

input[type=number] {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid black;
}

#titre-article{

  color: #d0a91f;
  font-size: 35px;
  margin: 5px auto;
  text-align: center;
}

.idBonjour a{
  color: #7a0418;
  font-size: 20px;

}
.idBonjour a span{
  color: #7a0418;
  font-size: 20px;
}