*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Mulish', sans-serif;

}


html, body{
  height: 100%;
  font-family: 'Mulish', sans-serif;
  background-color: #f1f1f1;
}

#englobe{
  min-height: 100%;
  /* position: relative; */
}


.bloc, .bloc1, .bloc2 {
  width: 300px;
  height: 50px;
  background-color: #d0a91f;
  margin: 10px 30px;
  border: 2px solid rgba(100, 100, 100, 0.34);
  border-radius: 7px;
  text-align: center;
  line-height: 20px;
}

.bloc a p, .bloc1 a, .bloc2 a {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 40px;
}

.bloc a:hover,
.bloc1 a:hover,
.bloc2 a:hover {
  background-color: #000000;
  color: #d0a91f;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.34);
}

 .navBar {
  width: 100%;
  height: 90px;
  background: linear-gradient(#ffffff57, #00000057);
} 


.navBar ul li {
  float: left;
  list-style: none;
  margin: 10px 0px;
}


.navBar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

.active {
  color: black;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 25px;
  line-height: 25px;
  text-shadow: 0px 5px 4px #eaeaea;
}

.dropbtn {
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d0a91f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #d0a91f;
  border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d0a91f;
  border-radius: 999px;
}


  .cad {
    color: white;
    border: none;
    cursor: pointer;
    background: none;
    margin-right: 10px;
    }

    /* contenu */
    /*gauche*/
    .gauche{
      /* display: inline-block; */
      float: left;
      clear: both;
      width: 50%;
      height: auto;
      border-right: 2px solid #d0a91f;

    }

    #title{
  
      margin: 10px auto;
      color: #d0a91f;
      width: 270px;
      /* background-color: #000000; */
    }

    .pprofil{
      border : 1px solid #f9f9f9;
      border-radius: 50px;
      width: 180px;
      margin: 30px auto ;
      background-color: #f9f9f9;
    }

    .liste{
      background-color:#646464 ;
      border-radius: 10px;
      width: 550px;
      line-height: 25px;
      font-size: 24px;
      font-weight: 600;
      color: #d0a91f;
      margin: 50px auto;
    }

    #liste-total {
      margin: 0 auto;
      width: 500px;
      background: color #d0a91f; ;
      list-style-type: none;
      }



    /*droite*/
    .droite{
      display: inline-block;
      float: right;
      width: 50%;
      height: auto;    
    }

    #title2{
      margin: 10px auto;
      color: #d0a91f;
      width: 320px;
    }

     /* footer */

     footer{
      border-top: 1px solid black;
      position: absolute;
      height: 40px;
      width: 100%;
      background-color: #d0a91f;
      bottom: 0px;
      position: fixed;
    }
    
    .contenu{
      text-align: center;
      line-height: 40px;
    }

    .idBonjour a{
      color: #7a0418;
      font-size: 20px;
    
    }
    .idBonjour a span{
      color: #7a0418;
      font-size: 20px;
    }
