*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Mulish', sans-serif;

}


html, body{
  height: 100%;
  background-color: #f1f1f1;
  font-family: 'Mulish', sans-serif;

}

#englobe{
  min-height: 100%;
  /* position: relative; */
}


.bloc, .bloc1, .bloc2 {
  width: 300px;
  height: 50px;
  background-color: #d0a91f;
  margin: 10px 30px;
  border: 2px solid rgba(100, 100, 100, 0.34);
  border-radius: 7px;
  text-align: center;
  line-height: 20px;
}

.bloc a p, .bloc1 a, .bloc2 a {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 40px;
}

.bloc a:hover,
.bloc1 a:hover,
.bloc2 a:hover {
  background-color: #000000;
  color: #d0a91f;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.34);
}

 .navBar {
  width: 100%;
  height: 90px;
  background: linear-gradient(#ffffff57, #00000057);
} 


.navBar ul li {
  float: left;
  list-style: none;
  margin: 10px 0px;
}


.navBar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

.active {
  color: black;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 25px;
  line-height: 25px;
  text-shadow: 0px 5px 4px #eaeaea;
}

.dropbtn {
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d0a91f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #d0a91f;
  border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d0a91f;
  border-radius: 999px;
}


  .cad {
    color: white;
    border: none;
    cursor: pointer;
    background: none;
    margin-right: 10px;
    }

    /* contenu */
    /*gauche*/
    .gauche{
      /* display: inline-block; */
      float: left;
      clear: both;
      width: 50%;
      height: auto;
      border-right: 2px solid #d0a91f;

    }

    #title{
  
      margin: 10px auto;
      color: #d0a91f;
      width: 270px;
      /* background-color: #000000; */
    }

    .pprofil{
      border : 1px solid #f9f9f9;
      border-radius: 50px;
      width: 180px;
      margin: 30px auto ;
      background-color: #f9f9f9;
    }

    .liste{
      background-color:#646464 ;
      border-radius: 10px;
      width: 550px;
      line-height: 25px;
      font-size: 24px;
      font-weight: 600;
      color: #d0a91f;
      margin: 50px auto;
    }

    #liste-total {
      margin: 0 auto;
      width: 500px;
      background: color #d0a91f; ;
      list-style-type: none;
      }

    /*droite*/
    .droite{
      display: inline-block;
      float: right;
      width: 50%;
      height: auto;    
    }

    #title2{
      margin: 10px auto;
      color: #d0a91f;
      width: 280px;
    }

    .forW{
      position: relative;
    }

    .wrapper{
      position: inherit;
      left: 25%;
      margin: 10px auto;
      display: inline-flex;
      background: #fff;
      height: 80px;
      width: 400px;
      /* align-items: center;
      justify-content: space-evenly; */
      border-radius: 5px;
      padding: 20px 15px;
      box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    }
    
    .wrapper .option{
      background: #fff;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 10px;
      border-radius: 5px;
      cursor: pointer;
      padding: 0 10px;
      border: 2px solid lightgrey;
      transition: all 0.3s ease;
    }
    .wrapper .option .dot{
      height: 20px;
      width: 20px;
      background: #d9d9d9;
      border-radius: 50%;
      position: relative;
    }
    .wrapper .option .dot::before{
      position: absolute;
      content: "";
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: #d0a91F;
      border-radius: 50%;
      opacity: 0;
      transform: scale(1.5);
      transition: all 0.3s ease;
    }
    input[type="radio"]{
      display: none;
    }
    
    #visa:checked:checked ~ .visa,
    #amex:checked:checked ~ .amex,
    #mastercard:checked:checked ~ .mastercard{
      border-color: #d0a91F;
      background: #d0a91F;
    }
    #visa:checked:checked ~ .visa .dot,
    #amex:checked:checked ~ .amex .dot,
    #mastercard:checked:checked ~ .mastercard .dot{
      background: #fff;
    }
    #visa:checked:checked ~ .visa .dot::before,
    #amex:checked:checked ~ .amex .dot::before,
    #mastercard:checked:checked ~ .mastercard .dot::before{
      opacity: 1;
      transform: scale(1);
    }
    .wrapper .option span{
      font-size: 20px;
      color: #808080;
    }
    #visa:checked:checked ~ .visa span,
    #amex:checked:checked ~ .amex span,
    #mastercard:checked:checked ~ .mastercard span{
      color: #fff;
    }

.numero-carte{

  position: absolute;
  left: 25%;
  margin: 20px auto;
    
}

.cvv{

  position: absolute;
  left: 25%;
  margin: 90px auto;
}

.date{

  position: absolute;
  left: 25%;
  margin: 160px auto;  
}

input[type=submit] {
  background-color: black;
  color: #D0A91F;
  padding: 14px 20px;
  margin: 250px 200px 0 250px;
  border: none;
  cursor: pointer;
  width: 50%;
}
input[type=submit]:hover {
  background-color: white;
  color: #D0A91F;
  border: 1px solid #D0A91F;
}

.messCarte p{
  
  font-size: 20px;
  color: #d0a91f;
}

.messCarte{
  
  margin: 30px 150px;
}

    /* footer */

    footer{
      border-top: 1px solid black;
      position: absolute;
      height: 40px;
      width: 100%;
      background-color: #d0a91f;
      bottom: 0px;
      position: fixed;
    }
    
    .contenu{
      text-align: center;
      line-height: 40px;
    }

    .idBonjour a{
      color: #7a0418;
      font-size: 20px;
    
    }
    .idBonjour a span{
      color: #7a0418;
      font-size: 20px;
    }