*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'Mulish', sans-serif;
  font-size: 10px;
}

.container {
  margin: 10px auto;
  width: 500px;
  height: 400px;
  position: relative;
  /* overflow: hidden; */
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  margin: 10px 10px;
}

.slide img {
  
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-20%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  border: 2px solid whitesmoke;
  color: white;
  padding: 5px;
}
#prev-btn {
    box-shadow: 2px 1px 4px rgb(209, 207, 207);
}
#next-btn{
    box-shadow: -2px 1px 4px rgb(209, 207, 207);
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
#next-btn:hover,
#prev-btn:hover {
    background-color: whitesmoke;
    color: black;
    /* opacity: 0.5; */
    border: 2px solid white;
}

.idBonjour a{
  color: #7a0418;
  font-size: 20px;

}
.idBonjour a span{
  color: #7a0418;
  font-size: 20px;
}

