/* initialisation de la page web avec les paramètres universels */
*,
*::after,
*::before {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Mulish', sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  --color-text: #d0a91f;
  --color-bg: #0c0c0c;
  --color-content-title-sub: #b4b4b4;
  color: var(--color-text);
  background-color: var(--color-bg);
  --cursor-stroke: #b4b4b4;
  --cursor-fill: none;
  --cursor-stroke-width: 1px;
  /* font-family: Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 13rem);
  position: relative;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}

.grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.grid__item {
  position: relative;
}

.grid--img .grid__item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.grid__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.grid--img .grid__item-img {
  flex: none;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  will-change: transform;
}

/* Shorthand grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */

.pos-1 {
  grid-area: 10 / 1 / 26 / 7;
}

.pos-2 {
  grid-area: 1 / 18 / 9 / 27;
}

.pos-3 {
  grid-area: 1 / 36 / 14 / 42;
}

.pos-4 {
  grid-area: 13 / 11 / 32 / 18;
}

.pos-5 {
  grid-area: 17 / 32 / 32 / 38;
}

.pos-6 {
  grid-area: 20 / 46 / 28 / 51;
}

.pos-7 {
  grid-area: 43 / 1 / 51 / 10;
}

.pos-8 {
  grid-area: 38 / 14 / 46 / 22;
}

.pos-9 {
  grid-area: 40 / 26 / 51 / 32;
}

.pos-10 {
  grid-area: 37 / 39 / 48 / 47;
}

.content__title {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 10vw;
  margin: 0;
  line-height: 1;
  position: relative;
}

.content__title-sub {
  color: var(--color-content-title-sub);
  font-size: 4.5vw;
  display: block;
  margin-left: 3vw;
  line-height: 0.5;
}

.content {
  height: 100%;
  justify-content: center;
  max-height: none;
}

.menu {
  /* background-color: #fff; */
  margin-right: 3vw;
}

a {
  text-decoration: none;
}
.con a,
.ins1 a,
.ins2 a {
  line-height: 60px;
  /* margin: 10px 10px; */
  color: #f1f1f1;
  padding: 5px;
  background: #d0a91f;
  border: 2px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.con a:hover,
.ins1 a:hover,
.ins2 a:hover {
  color: #d0a91f;
  background: #f1f1f1;
  opacity: 0.9;
}

.con a:hover,
.ins1 a:hover,
.ins2 a:hover {
  animation: pulsation_bouton 0.8s ease-out;
}

@keyframes pulsation_bouton {
  from {
    box-shadow: 0 0 0 -3px hsla(0, 0%, 100%, 0), 0 0 0 0 #d0a91f;
  }
  to {
    box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0), 0 0 0 13px hsla(0, 0%, 100%, 0);
  }
}

.idBonjour a{
  color: #7a0418;
  font-size: 20px;

}
.idBonjour a span{
  color: #7a0418;
  font-size: 20px;
}