*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

html, body{
  font-family: 'Mulish', sans-serif;
  height: 100%;
}

#englobe{
  min-height: 150%;
  position: relative;
  /* border: 5px solid red; */
}

/* debut nav bar */


.bloc, .bloc1, .bloc2 {
  width: 300px;
  height: 50px;
  background-color: #d0a91f;
  margin: 10px 30px;
  border: 2px solid rgba(100, 100, 100, 0.34);
  border-radius: 7px;
  text-align: center;
  line-height: 20px;
}

.bloc a p, .bloc1 a, .bloc2 a {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 40px;
}


.bloc a:hover,
.bloc1 a:hover,
.bloc2 a:hover {
  background-color: #000000;
  color: #d0a91f;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.34);
}

 .navBar {
  width: 100%;
  height: 90px;
  background: linear-gradient(#ffffff57, #00000057);
} 


li {
  float: left;
  list-style: none;
  margin: 10px 0px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  color: black;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: 999;
  font-size: 25px;
  line-height: 25px;
  text-shadow: 0px 5px 4px #eaeaea;
}

.dropbtn {
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d0a91f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #d0a91f;
  border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d0a91f;
  border-radius: 999px;
}


  .cad {
    color: white;
    border: none;
    cursor: pointer;
    background: none;
    margin-right: 10px;
    }

    #mes-ventes{
      color: #f1f1f1;
    }


/* fin nav bar */

#pd{
  text-align: center;
  color: #d0a91f;
  font-size: 45px;
  margin: 10px auto ;
}

.ajout-produit{
  position: relative;
  border: 4px solid #d0a91F;
  border-radius: 5px;
  width: 500px;
  /* margin-top: 20px;
  left: 80%; */

  float: right;
  clear: both;
  margin: 30px 250px 0 0;

}

#title{
  text-align: center;
  color: #d0a91f;
  font-size: 30px;
}

.block{
  width: 400px;
  margin: 5px auto;
}

.wrapper{
  margin: 10px auto;
  display: inline-flex;
  background: #fff;
  height: 80px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #d0a91F;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}

#vente:checked:checked ~ .vente,
#nego:checked:checked ~ .nego,
#enchere:checked:checked ~ .enchere{
  border-color: #d0a91F;
  background: #d0a91F;
}
#vente:checked:checked ~ .vente .dot,
#nego:checked:checked ~ .nego .dot,
#enchere:checked:checked ~ .enchere .dot{
  background: #fff;
}
#vente:checked:checked ~ .vente .dot::before,
#nego:checked:checked ~ .nego .dot::before,
#enchere:checked:checked ~ .enchere .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#vente:checked:checked ~ .vente span,
#nego:checked:checked ~ .nego span,
#enchere:checked:checked ~ .enchere span{
  color: #fff;
}

input[type=text],input[type=number]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

  margin: 10px auto;
  display: inline-flex;
  background: #fff;
  height: 30px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

input[type=submit] {
  background-color: black;
  color: #D0A91F;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #D0A91F;
  border: 1px solid #D0A91F;
}

select {
  font-size: .9rem;
  padding: 2px 5px;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  display: inline-flex;
  background: #fff;
  height: 30px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 0px 0px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}


/* debut lsite article */

h3{
  /* border: 2px solid black; */
  /* padding: 100px; */
  color: #d0a91f;
  font-size: 35px;
  font-weight: bolder;
  display: inline;
  position: relative;
  top: 20px;
  right: 20px;
}

.grille {
  width: 30%;
  height: auto;
  margin: 40px 120px;
  /* border: 5px solid black; */
}

.grid-item{
  margin: 80px auto;
  width: 400px;
  height: 250px;
  background: #333;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
  border-radius: 20px;

}

.grid-item:hover{
  transform: scale(1.2);
  animation: loaderAnim 0.3s;
}
@keyframes loaderAnim {
  to {
    transform: scale(1.2);
  }
}

.photo {
  height: 190px;
  width: auto;
  background-color: #f1f1f1;
  align-content: end;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.photo img {
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.description {
  height: 80px;
  width: auto;
  background-color: #d0a91f;
  align-content: end;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 2px solid black;
}

input.suppr{
  width: 100px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 16px 140px;
  border: none;
  cursor: pointer;  
  line-height: 3px; 
  border-radius: 7px;
}

input.suppr:hover{
  background-color: rgb(240, 240, 240);
  border: 1px solid #d0a91f;
}

/* footer */

footer{

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #d0a91f;
  bottom: 0px;
  /* position: fixed; */
}

.contenu{
  justify-content: center;
  text-align: center;
  line-height: 40px;
}

.idBonjour a{
  color: #7a0418;
  font-size: 20px;

}
.idBonjour a span{
  color: #7a0418;
  font-size: 20px;
}


/* fin footer */